
<h2 class="logo"><i class="fab fa-strava"></i>Strava</h2>
<h4>
    <i class="fas fa-swimmer"></i>
    <i class="fas fa-biking"></i>
    <i class="fas fa-running"></i>
</h4>
<hr>
<div class="section">
    <p class="lead"> Create and save, public or private activities. </p>
</div>
<hr>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Login with Google
    </a>
</div>